{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/oauth2/token" : {
      "post" : {
        "tags" : [ "createToken" ],
        "summary" : null,
        "description" : null,
        "operationId" : "createToken",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "grant_type",
          "in" : "formData",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "formData",
          "description" : null,
          "required" : false,
          "type" : "string"
        },{
          "name" : "Content-Type",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/createToken"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "createToken" : {
      "properties" : {
        "access_token" : {
          "type" : "string"
        },
        "expires_in" : {
          "type" : "number",
          "format" : "int32"
        },
        "token_type" : {
          "type" : "string"
        }
      }
    }
  }
}