{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/attendees/filter" : {
      "post" : {
        "tags" : [ "getAttendeesFilter" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getAttendeesFilter",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "expand",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, 
        {
          "name" : "after",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : null,
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/getAttendeesFilter_Request##body"
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getAttendeesFilter"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getAttendeesFilter##paging##_links##next" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##paging##_links" : {
      "properties" : {
        "next" : {
          "$ref" : "#/definitions/getAttendeesFilter##paging##_links##next"
        },
        "self" : {
          "$ref" : "#/definitions/getAttendeesFilter##paging##_links##self"
        }
      }
    },
    "getAttendeesFilter##data##contact##_links" : {
        "properties" : {
          "linkedInUrl" : {
              "$ref" : "#/definitions/getAttendeesFilter##contact##_links##linkedInUrl"
          }
        }
    },
    "getAttendeesFilter##paging##_links##linkedInUrl" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getAttendeesFilter##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "currentToken" : {
          "type" : "string"
        },
        "nextToken" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##contact##optOut" : {
      "properties" : {
        "optedOut" : {
          "type" : "boolean"
        }
      }
    },
    "getAttendeesFilter##data##contact" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##contact##_links"
        },
        "createdBy" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        },
        "lastModifiedBy" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "ccEmail" : {
          "type" : "string"
        },
        "company" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "type" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##contact##type"
        },
        "primaryAddressType" : {
          "type" : "string"
        },
        "homePhone" : {
          "type" : "string"
        },
        "workAddress" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##contact##workAddress"
        },
        "homeAddress" : {
          "$ref" : "#/definitions/getAttendees##data##contact##homeAddress"
        },
        "optOut" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##contact##optOut"
        },
        "mobilePhone" : {
          "type" : "string"
        },
        "prefix" : {
          "type" : "string"
        },
        "deleted" : {
          "type" : "boolean"
        },
        "customFields" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getAttendeesFilter##data##contact##customFields"
          }
        }
      }
    },
    "getAttendeesFilter##data##invitationList" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##group" : {
      "properties" : {
        "leader" : {
          "type" : "boolean"
        },
        "member" : {
          "type" : "boolean"
        },
        "id" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##contact##type" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##contact##workAddress" : {
      "properties" : {
        "region" : {
          "type" : "string"
        },
        "regionCode" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "countryCode" : {
          "type" : "string"
        },
        "postalCode" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        }
      }
    },
    "getAttendees##data##contact##homeAddress" : {
      "properties" : {
        "region" : {
          "type" : "string"
        },
        "regionCode" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "countryCode" : {
          "type" : "string"
        },
        "postalCode" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##registrationPath" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##registrationType" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##admissionItem" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##answers##question##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##answers##question" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "event" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##answers##question##event"
        },
        "text" : {
          "type" : "string"
        },
        "session" : {
          "type" : "string"
        },
        "admissionItem" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        },
        "lastModifiedBy" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter##data##answers" : {
      "properties" : {
        "question" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##answers##question"
        },
        "value" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "getAttendeesFilter##data##contact##customFields" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "value" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "order" : {
          "type" : "number"
        }
      }
    },
    "getAttendeesFilter##data##questions" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "value" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "order" : {
          "type" : "number"
        }
      }
    },
    "getAttendeesFilter##data" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "event" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##event"
        },
        "contact" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##contact"
        },
        "checkedIn" : {
          "type" : "boolean"
        },
        "invitationList" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##invitationList"
        },
        "guest" : {
          "type" : "boolean"
        },
        "primaryId": {
          "type" : "string"
        },
        "group" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##group"
        },
        "unsubscribed" : {
          "type" : "boolean"
        },
        "status" : {
          "type" : "string"
        },
        "registrationLastModified" : {
          "type" : "string"
        },
        "invitedBy" : {
          "type" : "string"
        },
        "responseMethod" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        },
        "lastModifiedBy" : {
          "type" : "string"
        },
        "testRecord" : {
          "type" : "boolean"
        },
        "attendeeLastModified" : {
          "type" : "string"
        },
        "confirmationNumber" : {
          "type" : "string"
        },
        "registrationPath" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##registrationPath"
        },
        "registrationType" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##registrationType"
        },
        "admissionItem" : {
          "$ref" : "#/definitions/getAttendeesFilter##data##admissionItem"
        },
        "note" : {
          "type" : "string"
        },
        "registeredAt" : {
          "type" : "string"
        },
        "answers" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getAttendeesFilter##data##answers"
          }
        },
        "questions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getAttendeesFilter##data##questions"
          }
        }
      }
    },
    "getAttendeesFilter" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getAttendeesFilter##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getAttendeesFilter##data"
          }
        }
      }
    },
    "getAttendeesFilter_Request##body" : {
      "properties" : {
        "filter" : {
          "type" : "string"
        }
      }
    },
    "getAttendeesFilter_Request" : {
      "properties" : {
        "body" : {
          "$ref" : "#/definitions/getAttendeesFilter_Request##body"
        }
      }
    }
  }

}


