{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/contact-types" : {
      "get" : {
        "tags" : [ "getContactTypes" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getContactTypes",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "after",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getContactTypes"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getContactTypes##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getContactTypes##paging##_links" : {
      "properties" : {
        "self" : {
          "$ref" : "#/definitions/getContactTypes##paging##_links##self"
        }
      }
    },
    "getContactTypes##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getContactTypes##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "currentToken" : {
          "type" : "string"
        }
      }
    },
    "getContactTypes##data" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        }
      }
    },
    "getContactTypes" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getContactTypes##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getContactTypes##data"
          }
        }
      }
    }
  }
}