{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api.classy.org",
  "basePath" : "//2.0",
  "schemes" : [ "https" ],
  "paths" : {
    "/supporters/{supporter_id}" : {
      "get" : {
        "tags" : [ "getClassySupporter" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getClassySupporter",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "supporter_id",
          "in" : "path",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getClassySupporter"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getClassySupporter" : {
      "properties" : {
        "nickname" : {
          "type" : "string"
        },
        "first_name" : {
          "type" : "string"
        },
        "last_name" : {
          "type" : "string"
        },
        "updated_at" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number",
          "format" : "int32"
        },
        "email_address" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "location" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "postal_code" : {
          "type" : "string"
        },
        "gender" : {
          "type" : "string"
        },
        "member_id" : {
          "type" : "number",
          "format" : "int32"
        },
        "source_member_id" : {
          "type" : "string"
        },
        "source_organization_id" : {
          "type" : "number",
          "format" : "int32"
        },
        "source_campaign_id" : {
          "type" : "number",
          "format" : "int32"
        },
        "source_fundraising_page_id" : {
          "type" : "string"
        },
        "origin" : {
          "type" : "string"
        },
        "opt_in" : {
          "type" : "boolean"
        },
        "created_at" : {
          "type" : "string"
        },
        "last_emailed_at" : {
          "type" : "string"
        }
      }
    }
  }
}