{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api.classy.org",
  "basePath" : "//2.0",
  "schemes" : [ "https" ],
  "paths" : {
    "/organizations/{organization_id}/payouts/stripe" : {
      "get" : {
        "tags" : [ "getClassyPayout" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getClassyPayout",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payout_date",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "organization_id",
          "in" : "path",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getClassyPayout"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getClassyPayout##data##transactions" : {
      "properties" : {
        "classy_transaction_id" : {
          "type" : "string"
        },
        "transaction_type" : {
          "type" : "string"
        },
        "source_reference_id" : {
          "type" : "string"
        },
        "source_transaction_id" : {
          "type" : "string"
        },
        "transaction_date" : {
          "type" : "string"
        },
        "transaction_amount" : {
          "type" : "number"
        },
        "transaction_currency" : {
          "type" : "string"
        },
        "transaction_fee" : {
          "type" : "number"
        },
        "transaction_created_at" : {
          "type" : "string"
        },
        "transaction_updated_at" : {
          "type" : "string"
        }
      }
    },
    "getClassyPayout##data" : {
      "properties" : {
        "id" : {
          "type" : "number",
          "format" : "int32"
        },
        "payout_id" : {
          "type" : "string"
        },
        "payout_date" : {
          "type" : "string"
        },
        "payout_amount" : {
          "type" : "number",
          "format" : "double"
        },
        "payout_amount_currency" : {
          "type" : "string"
        },
        "payout_created_at" : {
          "type" : "string"
        },
        "payout_updated_at" : {
          "type" : "string"
        },
        "transactions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getClassyPayout##data##transactions"
          }
        }
      }
    },
    "getClassyPayout" : {
      "properties" : {
        "total" : {
          "type" : "number",
          "format" : "int32"
        },
        "per_page" : {
          "type" : "number",
          "format" : "int32"
        },
        "current_page" : {
          "type" : "number",
          "format" : "int32"
        },
        "from" : {
          "type" : "number",
          "format" : "int32"
        },
        "to" : {
          "type" : "number",
          "format" : "int32"
        },
        "next_page_url" : {
          "type" : "string"
        },
        "pre_page_url" : {
          "type" : "string"
        },
        "last_page" : {
          "type" : "number",
          "format" : "int32"
        },
        "data" : {
          "$ref" : "#/definitions/getClassyPayout##data"
        }
      }
    }
  }
}