{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/{event_id}/registration-types" : {
      "get" : {
        "tags" : [ "getEventRegistrationTypes" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getEventRegistrationTypes",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "number",
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getEventRegistrationTypes"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getEventRegistrationTypes##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getEventRegistrationTypes##paging##_links" : {
      "properties" : {
        "self" : {
          "$ref" : "#/definitions/getEventRegistrationTypes##paging##_links##self"
        }
      }
    },
    "getEventRegistrationTypes##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getEventRegistrationTypes##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "currentToken" : {
          "type" : "string"
        }
      }
    },
    "getEventRegistrationTypes##data##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getEventRegistrationTypes##data##capacity" : {
      "properties" : {
        "remaining" : {
          "type" : "number",
          "format" : "int32"
        },
        "consumed" : {
          "type" : "number",
          "format" : "int32"
        },
        "total" : {
          "type" : "number",
          "format" : "int32"
        }
      }
    },
    "getEventRegistrationTypes##data##registrationPath" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getEventRegistrationTypes##data" : {
      "properties" : {
        "registrationPath" : {
          "$ref" : "#/definitions/getEventRegistrationTypes##data##registrationPath"
        },
        "name" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "virtual" : {
          "type" : "boolean"
        },
        "openForRegistration" : {
          "type" : "boolean"
        },
        "event" : {
          "$ref" : "#/definitions/getEventRegistrationTypes##data##event"
        },
        "id" : {
          "type" : "string"
        },
        "capacity" : {
          "$ref" : "#/definitions/getEventRegistrationTypes##data##capacity"
        }
      }
    },
    "getEventRegistrationTypes" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getEventRegistrationTypes##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getEventRegistrationTypes##data"
          }
        }
      }
    }
  }
}