{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/events/{eventId}/orders" : {
      "get" : {
        "tags" : [ "getOrders" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getOrders",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ 
		{
          "name" : "limit",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "integer"
        },
		{
          "name" : "after",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        },
		{
          "name" : "token",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        },{
		  "name" : "filter",
		  "in" : "query",
		  "description" : null,
		  "required": false,
          "type" : "string"
        },{
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getOrders"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getOrders##paging##_links##next" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getOrders##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getOrders##paging##_links" : {
      "properties" : {
        "next" : {
          "$ref" : "#/definitions/getOrders##paging##_links##next"
        },
        "self" : {
          "$ref" : "#/definitions/getOrders##paging##_links##self"
        }
      }
    },
    "getOrders##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getOrders##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "currentToken" : {
          "type" : "string"
        },
        "nextToken" : {
          "type" : "string"
        }
      }
    },
    "getOrders##data##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getOrders##data##attendee" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getOrders##data##discounts" : {
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "value" : {
          "type" : "number"
        }
      }
    },
    "getOrders##data" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "event" : {
          "$ref" : "#/definitions/getOrders##data##event"
        },
        "attendee" : {
          "$ref" : "#/definitions/getOrders##data##attendee"
        },
        "number" : {
          "type" : "string"
        },
        "cancelled" : {
          "type" : "boolean"
        },
        "invoiceNumber" : {
          "type" : "string"
        },
        "amountOrdered" : {
          "type" : "number"
        },
        "amountPaid" : {
          "type" : "number"
        },
        "amountDue" : {
          "type" : "number"
        },
        "discounts" : {
		  "type": "array",
		  "items": {
			"$ref" : "#/definitions/getOrders##data##discounts"
		  }
        },
        "created" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        },
        "lastModifiedBy" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "paymentMethod" : {
          "type" : "string"
        },
        "referenceNumber" : {
          "type" : "string"
        }
      }
    },
    "getOrders" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getOrders##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getOrders##data"
          }
        }
      }
    }
  }
}