{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/sessions/enrollment" : {
      "get" : {
        "tags" : [ "getSessionAttendees" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getSessionAttendees",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getSessionAttendees"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getSessionAttendees##paging##_links##next" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees##paging##_links" : {
      "properties" : {
        "next" : {
          "$ref" : "#/definitions/getSessionAttendees##paging##_links##next"
        },
        "self" : {
          "$ref" : "#/definitions/getSessionAttendees##paging##_links##self"
        }
      }
    },
    "getSessionAttendees##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getSessionAttendees##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "currentToken" : {
          "type" : "string"
        },
        "nextToken" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees##data##session" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees##data##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees##data##attendee" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees##data" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "session" : {
          "$ref" : "#/definitions/getSessionAttendees##data##session"
        },
        "event" : {
          "$ref" : "#/definitions/getSessionAttendees##data##event"
        },
        "attendee" : {
          "$ref" : "#/definitions/getSessionAttendees##data##attendee"
        },
        "deleted" : {
          "type" : "boolean"
        },
        "status" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendees" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getSessionAttendees##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getSessionAttendees##data"
          }
        }
      }
    }
  }
}