{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/sessions" : {
      "get" : {
        "tags" : [ "getSessions" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getSessions",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getSessions"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getSessions##paging##_links##next" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getSessions##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getSessions##paging##_links" : {
      "properties" : {
        "next" : {
          "$ref" : "#/definitions/getSessions##paging##_links##next"
        },
        "self" : {
          "$ref" : "#/definitions/getSessions##paging##_links##self"
        }
      }
    },
    "getSessions##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getSessions##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "nextToken" : {
          "type" : "string"
        },
        "currentToken" : {
          "type" : "string"
        }
      }
    },
    "getSessions##data##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessions##data##category" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "getSessions##data##type" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        }
      }
    },
    "getSessions##data##location" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "getSessions##data##customFields" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "value" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "order" : {
          "type" : "number"
        }
      }
    },
    "getSessions##data##group" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessions##data" : {
      "properties" : {
        "includedSession" : {
          "type" : "boolean"
        },
        "relevance" : {
          "type" : "number"
        },
        "created" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        },
        "lastModifiedBy" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "virtual" : {
          "type" : "boolean"
        },
        "event" : {
          "$ref" : "#/definitions/getSessions##data##event"
        },
        "title" : {
          "type" : "string"
        },
        "category" : {
          "$ref" : "#/definitions/getSessions##data##category"
        },
        "type" : {
          "$ref" : "#/definitions/getSessions##data##type"
        },
        "location" : {
          "$ref" : "#/definitions/getSessions##data##location"
        },
        "description" : {
          "type" : "string"
        },
        "start" : {
          "type" : "string"
        },
        "end" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        },
        "enableWaitlist" : {
          "type" : "boolean"
        },
        "capacityUnlimited" : {
          "type" : "boolean"
        },
        "virtualCapacityUnlimited" : {
          "type" : "boolean"
        },
        "timezone" : {
          "type" : "string"
        },
        "displayOnAgenda" : {
          "type" : "boolean"
        },
        "featured" : {
          "type" : "boolean"
        },
        "openForRegistration" : {
          "type" : "boolean"
        },
        "openForAttendeeHub" : {
          "type" : "boolean"
        },
        "registrationTypes" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "presentationType" : {
          "type" : "string"
        },
        "dataTagCode" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "admissionItems" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "customFields" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getSessions##data##customFields"
          }
        },
        "capacity" : {
          "type" : "number"
        },
        "automaticallyOpensOn" : {
          "type" : "string"
        },
        "group" : {
          "$ref" : "#/definitions/getSessions##data##group"
        }
      }
    },
    "getSessions" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getSessions##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getSessions##data"
          }
        }
      }
    }
  }
}