{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api-platform.cvent.com",
  "basePath" : "/ea",
  "schemes" : [ "https" ],
  "paths" : {
    "/sessions/enrollment/filter" : {
      "post" : {
        "tags" : [ "getSessionAttendeesFilter" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getSessionAttendeesFilter",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ 
				{
          "name" : "limit",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "integer"
        },
		{
          "name" : "after",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, 
        {
          "name" : "body",
          "in" : "body",
          "description" : null,
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/getSessionAttendeeFilter_Request##body"
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getSessionAttendeesFilter"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getSessionAttendeesFilter##paging##_links##next" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter##paging##_links##self" : {
      "properties" : {
        "href" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter##paging##_links" : {
      "properties" : {
        "next" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##paging##_links##next"
        },
        "self" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##paging##_links##self"
        }
      }
    },
    "getSessionAttendeesFilter##paging" : {
      "properties" : {
        "_links" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##paging##_links"
        },
        "limit" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "currentToken" : {
          "type" : "string"
        },
        "nextToken" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter##data##session" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter##data##event" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter##data##attendee" : {
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter##data" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "session" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##data##session"
        },
        "event" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##data##event"
        },
        "attendee" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##data##attendee"
        },
        "deleted" : {
          "type" : "boolean"
        },
        "status" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string"
        },
        "lastModified" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeesFilter" : {
      "properties" : {
        "paging" : {
          "$ref" : "#/definitions/getSessionAttendeesFilter##paging"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getSessionAttendeesFilter##data"
          }
        }
      }
    },
    "getSessionAttendeeFilter_Request##body" : {
      "properties" : {
        "filter" : {
          "type" : "string"
        }
      }
    },
    "getSessionAttendeeFilter_Request" : {
      "properties" : {
        "body" : {
          "$ref" : "#/definitions/getSessionAttendeeFilter_Request##body"
        }
      }
    }
  }
}