{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api.classy.org",
  "basePath" : "//oauth2",
  "schemes" : [ "https" ],
  "paths" : {
    "/auth" : {
      "post" : {
        "tags" : [ "postCredentials" ],
        "summary" : null,
        "description" : null,
        "operationId" : "postCredentials",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : null,
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/postCredentials_Request##body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/postCredentials"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "postCredentials" : {
      "properties" : {
        "token_type" : {
          "type" : "string"
        },
        "access_token" : {
          "type" : "string"
        },
        "expires_in" : {
          "type" : "number",
          "format" : "int32"
        }
      }
    },
    "postCredentials_Request##body" : {
      "properties" : {
        "grant_type" : {
          "type" : "string"
        },
        "client_id" : {
          "type" : "string"
        },
        "client_secret" : {
          "type" : "string"
        }
      }
    },
    "postCredentials_Request" : {
      "properties" : {
        "body" : {
          "$ref" : "#/definitions/postCredentials_Request##body"
        }
      }
    }
  }
}