{
  "swagger" : "2.0",

  "info" : {
    "description" : "API documentation based off RainFocus API",
    "version" : "2.0.0",
    "title" : "RainFocus Create Attendee"
  },  
  "host": "events.rainfocus.com",
  "basePath" : "/api/aspeninstitute/v2",
  "schemes": [ "https" ],
  "securityDefinitions" : {
    "ApiProfileAuth" : {
      "name" : "apiProfile",
      "type" : "apiKey",
      "in" : "header",
      "description" : "Authorization token"
    }
  },
  "security" : [ {
    "ApiProfileAuth" : [ ]
  } ],
  "paths" : {
    "/attendee/create" : {
      "post" : {
        "summary" : "Create Attendee",
        "description" : "Used to create an attendee. Use the edit/pencil icon to determine which fields should be allowed. Any field chosen will be allowed. Any field not chosen will be ignored. If no fields are chosen, all fields are allowed.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "formId",
          "in" : "query",
          "description" : "If present will restrict which attributes can be updated to only the attributes added to that form. This includes RainFocus Attributes/custom fields and the attendee's demographic information.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Request body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "title" : "attendee/createInput",
            "type" : "object",
            "properties" : {
              "externalId" : {
                "type" : "string"
              },
              "clientId" : {
                "type" : "string"
              },
              "firstname" : {
                "type" : "string"
              },
              "lastname" : {
                "type" : "string"
              },
              "email" : {
                "type" : "string"
              },
              "jobtitle" : {
                "type" : "string"
              },
              "companyname" : {
                "type" : "string"
              },
              "phone" : {
                "type" : "string"
              },
              "address1" : {
                "type" : "string"
              },
              "address2" : {
                "type" : "string"
              },
              "city" : {
                "type" : "string"
              },
              "stateId" : {
                "type" : "string"
              },
              "foreignstate" : {
                "type" : "string"
              },
              "zip" : {
                "type" : "string"
              },
              "countryId" : {
                "type" : "string"
              },
              "bio" : {
                "type" : "string"
              },
              "email2" : {
                "type" : "string"
              },
              "sendOnlyEmail2" : {
                "type" : "boolean"
              },
              "language" : {
                "type" : "string"
              },
              "photoUrl" : {
                "type" : "string"
              },
              "photoUrlName" : {
                "type" : "string"
              },
              "invoiceEmail" : {
                "type" : "boolean"
              }
            },
            "required" : [ "firstname", "lastname", "email" ]
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid request"
          },
          "404" : {
            "description" : "Not found"
          },
          "409" : {
            "description" : "Already exists"
          },
          "422" : {
            "description" : "Missing required field"
          },
          "503" : {
            "description" : "Error storing photo url, skipping"
          },
          "403" : {
            "description" : "Access denied, wrong/invalid api org"
          },
          "500" : {
            "description" : "Unknown error"
          },
          "401" : {
            "description" : "Invalid api profile ID"
          },
          "201" : {
            "description" : "Success",
            "examples" : {
              "application/json" : {
                "responseCode" : "0",
                "responseMessage" : "Success",
                "attendeeId" : "1745437746311001nRvT",
                "registrationId" : "XYE1000"
              }
            }
          }
        }
      }
    }
  }
}

