{
  "swagger": "2.0",
  "info": {
    "description": "API documentation based off RainFocus API",
    "version": "2.0.0",
    "title": "RainFocus Create Attendee"
  },
  "host": "events.rainfocus.com",
  "basePath": "/api/aspeninstitute/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/attendee/create": {
      "post": {
        "summary": "Update Attendee",
        "description": "Used to update an attendee. Use the edit/pencil icon to determine which fields should be allowed. Any field chosen will be allowed. Any field not chosen will be ignored. If no fields are chosen, all fields are allowed.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "query",
            "description": "If present will restrict which attributes can be created to only the attributes added to that form. This includes RainFocus Attributes/custom fields and the attendee's demographic information.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiProfile",
            "in": "header",
            "description": "API Profile Id used to authenticate to specific event and its associated data",
            "required": true,
            "type": "string"
          },
          {
            "name": "Request body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/responseBody"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "postBody": {
      "type": "object",
      "required" : ["firstname","lastname","email"],
      "properties": {
        "1763603665061001hX8l": {
          "type": "string",
          "description": "Cvent Registration Type created by Attribute Code"
        },
        "externalId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "1764081315990001isaO": {
          "type": "string",
          "description": "UW Affiliation created by Attribute Code"
        },
        "1761225782351001lda1": {
          "type": "string",
          "description": "Prefix Field created by Attribute Code"
        },
        "email": {
          "type": "string"
        },
        "firstname": {
          "type": "string"
        },
        "lastname": {
          "type": "string"
        },
        "1761225335484001viMZ": {
          "type": "string",
          "description": "CC Email Address created by Attribute Code"
        },
        "jobtitle": {
          "type": "string"
        },
        "companyname": {
          "type": "string"
        },
        "countryId": {
          "type": "string"
        },
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "stateId": {
          "type": "string"
        },
        "zip": {
          "type": "string"
        },
        "1761224965124001EFbd": {
          "type": "string",
          "description": "Assistant Name created by Attribute Code"
        },
        "1761224938386001sYOl": {
          "type": "string",
          "description": "Assistant Email created by Attribute Code"
        },
        "1761225134802001WCo2": {
          "type": "string",
          "description": "Assistant Phone created by Attribute Code"
        },
        "phone": {
          "type": "string"
        },
        "1761226198363001WCk1": {
          "type": "string",
          "description": "Accessibility created by Attribute Code"
        },
        "1763602936593001AKog": {
          "type": "string",
          "description": "Gender created by Attribute Code"
        },
        "1763602404775001sQLk": {
          "type": "string",
          "description": "Age created by Attribute Code"
        },
        "1763602796318001hmoi": {
          "type": "string",
          "description": "Ethnicity created by Attribute Code"
        },
        "1763602693742001w1X6": {
          "type": "string",
          "description": "Education created by Attribute Code"
        },
        "1763602551336001heWD": {
          "type": "string",
          "description": "Business Sector created by Attribute Code"
        },
        "1761226507809001mQaA": {
          "type": "string",
          "description": "Speaker Release Agreement created by Attribute Code"
        },
        "1759349827987001IYak": {
          "type": "string",
          "description": "Speaker Release Notes created by Attribute Code"
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website URL created by Attribute Code"
        },
        "twitter": {
          "type": "string",
          "description": "Twitter created by Attribute Code"
        },
        "instagram": {
          "type": "string",
          "description": "Instagram created By Attribute Code"
        },
        "linkedin": {
          "type": "string",
          "description": "LinkedIn created By Attribute Code"
        },
        "1763603039658001OMUJ": {
          "type": "string",
          "description": "Bookstore created By Attribute Code"
        },
        "1761225281934001E1OC": {
          "type": "string",
          "description": "Submitted Bio created By Attribute Code"
        },
        "1761226370223001kuXM": {
          "type": "string",
          "description": "Passion or Hobby created By Attribute Code"
        },
        "1763604819777001hpIP": {
          "type": "string",
          "description": "Room in designated speaker created By Attribute Code"
        },
        "1761225398940001ujRu": {
          "type": "string",
          "description": "Festival Fest Availability created By Attribute Code"
        },
        "1763604547455001h3d4": {
          "type": "string",
          "description": "Hotel Room Preferences created By Attribute Code"
        },
        "1762218091956001KiGl": {
          "type": "string",
          "description": "Travel Through AI created By Attribute Code"
        },
        "1763604508719001OTcN": {
          "type": "string",
          "description": "Guest First Name created By Attribute Code"
        },
        "1763604528099001pUBe": {
          "type": "string",
          "description": "Guest Last Name created By Attribute Code"
        },
        "1759349718017001CgaS": {
          "type": "string",
          "description": "Security created By Attribute Code"
        },
        "1761226456556001sfyr": {
          "type": "string",
          "description": "Security Personnel Details created By Attribute Code"
        },
        "foreignstate": {
          "type": "string"
        },
        "bio": {
          "type": "string"
        },
        "email2": {
          "type": "string"
        },
        "sendOnlyEmail2": {
          "type": "boolean"
        },
        "language": {
          "type": "string"
        },
        "photoUrl": {
          "type": "string"
        },
        "photoUrlName": {
          "type": "string"
        },
        "invoiceEmail": {
          "type": "boolean"
        }
      }
    },
    "responseBody": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "string",
          "example": "0"
        },
        "responseMessage": {
          "type": "string",
          "example": "Success"
        },
        "attendeeId": {
          "type": "string",
          "example": "1745437746311001nRvT"
        },
        "registrationId": {
          "type": "string",
          "example": "XYE1000"
        }
      }
    }
  }
}

