{
  "swagger" : "2.0",

  "info" : {
    "description" : "API documentation based off RainFocus API",
    "version" : "2.0.0",
    "title" : "RainFocus Create Attendee"
  },  
  "host": "events.rainfocus.com",
  "basePath" : "/api/aspeninstitute/v2",
  "schemes": [ "https" ],
  "paths" : {
    "/entityDataDump/attendee" : {
      "get" : {
        "summary" : "Attendee Entity Data Dump",
        "description" : "Paged dump of all attendees for an event. Data fields are configurable.\nThe results of this api are cached for 1 minute.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "attendeeId",
          "in" : "query",
          "description" : "Attendee's Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalId",
          "in" : "query",
          "description" : "Attendee's External Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "registrationId",
          "in" : "query",
          "description" : "Attendee's Registration Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "registered",
          "in" : "query",
          "description" : "Attendee's true/false registered state. (supports true/false OR 1/0)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Attendee's Client Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Attendee's email",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "badgeId",
          "in" : "query",
          "description" : "Attendee's Badge Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Set the number of results per page of results (default = 1000)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "The cursor acts as a type of bookmark for the results list",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "attributeValueName",
          "in" : "query",
          "description" : "Filter the results and only include those with an attribute value with this name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "attributeValueCode",
          "in" : "query",
          "description" : "Filter the results and only include those with an attribute value with this code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "attended",
          "in" : "query",
          "description" : "Attendee's true/false attended state. (supports true/false OR 1/0)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "checkedIn",
          "in" : "query",
          "description" : "Attendee's true/false checked in state. (supports true/false OR 1/0)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "since",
          "in" : "query",
          "description" : "Filters results that are modified since a given timestamp, uses millisecond Unix timestamp (ex. 1749243600000 for June 6th, 2025 at 3:00 PM)",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "Filters results that are modified before a given timestamp, uses millisecond Unix timestamp (ex. 1749243600000 for June 6th, 2025 at 3:00 PM)",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "publishedFiles",
          "in" : "query",
          "description" : "Allows you to filter down files based on published status, or not.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "testAccount",
          "in" : "query",
          "description" : "Filter based on test account field. (supports true/false OR 1/0)",
          "required" : false,
          "type" : "string"
        },
        {
         "name" : "apiProfile",
          "in" : "header",
          "description" : "API Profile Id used to authenticate to specific event and its associated data", 
          "required" : true,
          "type" : "string"
        }],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/getAttendeeDataDump"
            }
          }
        }
      }
    }
  },
  "definitions" : {
      "getAttendeeDataDump##attribute" : {
        "properties" : {
          "attributeId" : {
            "type" : "string" 
          },
          "name" : {
            "type" : "string" 
          },
          "code" : {
            "type" : "string"
          }
        }
      },
    
      "getAttendeeDataDump##attributevalue" : {
        "properties" : {
          "attribute" : {
              "type" : "string"
          },
          "attribute_id" : {
              "type" : "string" 
          },
          "attribute_code" : {
              "type" : "string"
          },
          "attributevalue_id" : {
              "type" : "string" 
          },
          "attributevalue_code" : {
              "type" : "string"
          },
          "client_attribute" : {
              "type" : "string" 
          },
          "display_order" : {
              "type" : "number",
              "format" : "int32"
          },
          "value" : {
              "type" : "string"
          } 
        }
      },

      "getAttendeeDataDump##data##file" : {
        "properties" : {
          "fileName" : {
            "type" : "string"
          },
          "fileURL" : {
            "type" : "string"
          },
          "fileTypeName" : {
            "type" : "string"
          },
          "fileTypeCode" : {
            "type" : "string"
          },
          "published" : {
            "type" : "boolean"
          }
        }
      },
    
      "getAttendeeDataDump##data" : {
        "properties" : {
          "language" : {
            "type" : "string" 
          },
          "createDate" : {
            "type" : "string"
          },
          "modifiedDate" : {
            "type" : "string"
          },
          "files" : {
            "type" : "array",
            "items" : {
              "$ref": "#/definitions/getAttendeeDataDump##data##file" 
            }
          },
          "registrationId" : {
            "type" : "string"
          },
          "badgeId" : {
            "type" : "string"
          },
          "firstname" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string" 
          },
          "email" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string" 
          },
          "attendeeId" : {
            "type" : "string"
          },
          "registered" : {
            "type" : "boolean" 
          },
          "viewAccess" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "scheduleAccess" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }, 
          "attendAccess" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "waitlistAccess" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "inPersonAttendee" : {
            "type" : "boolean"
          },
          "virtualAttendee" : {
            "type" : "boolean"
          },
          "schedulerAccess" : {
            "type" : "boolean"
          },
          "calendarReadOnlyAccess" : {
            "type" : "boolean" 
          },
          "meetingAccess" : {
            "type" : "string"
          },
          "attributeValues" : {
            "type" : "array",
            "items" : {
              "$ref": "#/definitions/getAttendeeDataDump##attributevalue" 
            }
          },
        } 
      },

    "getAttendeeDataDump" : {
      "properties" : {
        "responseCode" : {
          "type" : "string" 
        },
        "responseMessage" : {
          "type" : "string"
        },
        "totalSearchItems" : {
          "type" : "integer" 
        },
        "timestamp" : {
         "type" : "string"  
        },
        "data" : {
          "type" : "array", 
          "items" : {
            "$ref" : "#/definitions/getAttendeeDataDump##data"
          }
        },
        "attendees" : {
          "type" : "array", 
          "items" : {
            "$ref" : "#/definitions/getAttendeeDataDump##attribute"
          }
        }
      }
    }


    
  }
              



