{
  "swagger" : "2.0",
  "info" : {
    "description" : "API documentation based off RainFocus API",
    "version" : "2.0.0",
    "title" : "RainFocus Get Events"
  },
  "host": "events.rainfocus.com",
  "basePath" : "/api/aspeninstitute/v2",
  "schemes": [ "https" ],
  "paths" : {
  "/entityDataDump/event" : {
        "get" : {
          "summary" : "Event Entity Data Dump Api",
          "description" : "Paged data dump of events and any attribute values applied to each. Data fields are configurable. ",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "status",
            "in" : "query",
            "description" : "The event's status.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "type",
            "in" : "query",
            "description" : "The event's type.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "code",
            "in" : "query",
            "description" : "The event's code.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "externalId",
            "in" : "query",
            "description" : "The event's externalId.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "pageSize",
            "in" : "query",
            "description" : "For paged api access. The number of results to display per page.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "cursor",
            "in" : "query",
            "description" : "The cursor for paged api access. It acts as a type of bookmark for the results list, and takes the form of an eventId.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "attributeValueName",
            "in" : "query",
            "description" : "Filter the results and only include those with an attribute value with this name",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "attributeValueCode",
            "in" : "query",
            "description" : "Filter the results and only include those with an attribute value with this code",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "name",
            "in" : "query",
            "description" : "The event's name.",
            "required" : false,
            "type" : "string"
          }, 
          {
            "name" : "since",
            "in" : "query",
            "description" : "Filters results that are modified since a given timestamp, uses millisecond Unix timestamp (ex. 1749243600000 for June 6th, 2025 at 3:00 PM)",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, 
          {
            "name" : "before",
            "in" : "query",
            "description" : "Filters results that are modified before a given timestamp, uses millisecond Unix timestamp (ex. 1749243600000 for June 6th, 2025 at 3:00 PM)",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, 
          {
            "name" : "publishedFiles",
            "in" : "query",
            "description" : "Allows you to filter down files based on published status, or not.",
            "required" : false,
            "type" : "string"
          },
          {
            "name" : "apiProfile",
            "in" : "header",
            "description" : "API Profile used to authenticate to specific event and its associated data",
            "required" : true,
            "type" : "string"
          }
      ],
          "responses" : {
            "200" : {
                "description" : "Success", 
                "schema" : {
                  "$ref" : "#/definitions/getEventDataDump"
                }
            }
          }
        }
      }
    },

    "definitions": {
      "attribute" : {
        "properties" : {
          "attributeId" : {
            "type" : "string",
            "example": "1761224938387001sVnR"
          },
          "name" : {
            "type" : "string",
            "example": "Assistant Email "
          },
          "code" : {
            "type" : "string",
            "example" : "1761224938386001sYOl"
          }
        }
      },

      "data" : {
        "properties" : {
          "eventId" : {
            "type" : "string",
            "example" : "1761330869health2026"
          },
          "externalId": {
            "type" : "string",
            "example" : "health2026"
          },
          "code" : {
            "type" : "string",
            "example": "health2026"
          },
          "name" : {
            "type" : "string",
            "example" : "Aspen Ideas Health 2026"
          },
          "displayName" : {
            "type" : "string",
            "example" : "Aspen Ideas Health 2026"
          },
          "type": {
            "type" : "string",
            "example": "Physical"
          },
          "venueName" : {
            "type" : "string",
            "example" : "The Aspen Instutite/Aspen Meadows Resort"
          },
          "venuePhone" : {
            "type" : "string"
          },
          "venueAddress" : {
            "type" : "string",
            "example" : "1211211221" 
          },
          "website": {
            "type" : "string",
            "example" : "https://www.aspenmeadows.com"
          },
          "city" : {
            "type" : "string",
            "example" : "Aspen"
          },
          "stateId" : {
            "type" : "string",
            "example" : "CO"
          },
          "foreignstate" : {
            "type" : "string" 
          },
          "countryId" : {
            "type" : "string",
            "example" : "US"
          },
          "zip" : { 
            "type" : "string",
            "example" : "81611"
          },
          "startDate" : {
            "type" : "string",
            "example" : "2026-06-22"
          },
          "endDate" : {
            "type" : "string",
            "example": "2026-06-25"
          },
          "startTime" : {
            "type" : "string",
            "example" : "00:00:00"
          },
          "endTime" : {
            "type" : "string",
            "example" : "23:55:00"
          },
          "dateFormat" : { 
            "type" : "string",
            "example" : ""
          },
          "timeFormat" : {
            "type" : "string",
            "example" : ""
          },
          "timezone" : {
            "type" : "string",
            "example" : "US/Mountain"
          },
          "status" : {
            "type" : "string",
            "example" : "event_status_active"
          },
          "externalEventId": {
            "type" : "string",
            "example" : "98f505bc-dad5-4fce-b6c9-c5be731ac79c"
          },
          "budget" : {
            "type" : "number",
            "format" : "float",
            "example" : 200.01
          },
          "description": {
            "type" : "string",
            "example" : "Test Event Swagger"
          },
          "createDate": {
            "type" : "string",
            "example" : "2025-10-24T18:34:29Z"
          },
          "modifiedDate" : {
            "type" : "string",
            "example": "2025-10-24T18:34:40Z"
          },
          "eventFamily" : {
            "type" : "string",
            "example" : "Aspen Ideas"
          }
        }
      },

      
    "getEventDataDump" : {
      "properties" : {
        "responseCode" : {
          "type" : "string",
          "example": "0" 
        },
        "responseMessage" : {
          "type" : "string",
          "example": "Success"
        },
        "totalSearchItems" : {
          "type" : "integer",
          "example" : 14 
        },
        "timestamp" : {
         "type" : "string",
         "example" : "1764869445689"  
        },
        "data" : {
          "type" : "array", 
          "items" : {
            "$ref" : "#/definitions/data"
          }
        },
        "attributes" : {
          "type" : "array", 
          "items" : {
            "$ref" : "#/definitions/attribute"
          }
        },
        "cached" : {
          "type" : "boolean",
          "example" : false
        }
      }
    }   

    }
}
